@{
    ViewBag.Title = "Azure";
}
<div class="jumbotron">
    <h1>Azure development in DevOps</h1>
    <h2>@Html.ActionLink("SQL Products", "Index", "Products")</h2>
    <h2>@Html.ActionLink("Table Products", "Index", "ProductsFromTable")</h2>
    <h2>@Html.ActionLink("Cosmos Products", "Index", "ProductsFromCosmos")</h2>
    <h2>@Html.ActionLink("List of Blobs", "Index", "Blob")</h2>
    <h2>@Html.ActionLink("Storage Account Queue", "Index", "QueueSa")</h2>
    <h2>@Html.ActionLink("Service Bus Queue", "Index", "QueueSb")</h2>
</div>
